body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-246px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:158px;
  width:1280px;
  height:1216px;
  display:flex;
}
#u1462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:522px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:258px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:420px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:99px;
  height:31px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:546px;
  width:83px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(1.39136983172794deg);
  -moz-transform:rotate(1.39136983172794deg);
  -ms-transform:rotate(1.39136983172794deg);
  transform:rotate(1.39136983172794deg);
}
#u1466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:420px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:58px;
  height:31px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:365px;
  width:42px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(179.635713344275deg);
  -moz-transform:rotate(179.635713344275deg);
  -ms-transform:rotate(179.635713344275deg);
  transform:rotate(179.635713344275deg);
}
#u1468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:335px;
  width:100px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u1469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:522px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:258px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:342px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:420px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:522px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:81px;
  height:31px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:596px;
  width:65px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-91.3350282440189deg);
  -moz-transform:rotate(-91.3350282440189deg);
  -ms-transform:rotate(-91.3350282440189deg);
  transform:rotate(-91.3350282440189deg);
}
#u1475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:479px;
  height:31px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:632px;
  width:463px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.12126621584901deg);
  -moz-transform:rotate(-0.12126621584901deg);
  -ms-transform:rotate(-0.12126621584901deg);
  transform:rotate(-0.12126621584901deg);
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:79px;
  height:31px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:598px;
  width:63px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.5139072711639deg);
  -moz-transform:rotate(89.5139072711639deg);
  -ms-transform:rotate(89.5139072711639deg);
  transform:rotate(89.5139072711639deg);
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:50px;
  height:31px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:318px;
  width:34px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.5286371928915deg);
  -moz-transform:rotate(89.5286371928915deg);
  -ms-transform:rotate(89.5286371928915deg);
  transform:rotate(89.5286371928915deg);
}
#u1478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:60px;
  height:31px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:397px;
  width:44px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(91.8275210700273deg);
  -moz-transform:rotate(91.8275210700273deg);
  -ms-transform:rotate(91.8275210700273deg);
  transform:rotate(91.8275210700273deg);
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:57px;
  height:31px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:365px;
  width:41px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(1.68534905975082deg);
  -moz-transform:rotate(1.68534905975082deg);
  -ms-transform:rotate(1.68534905975082deg);
  transform:rotate(1.68534905975082deg);
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:67px;
  height:31px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:392px;
  width:51px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.4121015345621deg);
  -moz-transform:rotate(90.4121015345621deg);
  -ms-transform:rotate(90.4121015345621deg);
  transform:rotate(90.4121015345621deg);
}
#u1481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:100px;
  height:31px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:506px;
  width:84px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.8355060967157deg);
  -moz-transform:rotate(90.8355060967157deg);
  -ms-transform:rotate(90.8355060967157deg);
  transform:rotate(90.8355060967157deg);
}
#u1482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:103px;
  height:31px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:504px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.1245885397342deg);
  -moz-transform:rotate(90.1245885397342deg);
  -ms-transform:rotate(90.1245885397342deg);
  transform:rotate(90.1245885397342deg);
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:46px;
  height:31px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:544px;
  width:30px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.236565268872789deg);
  -moz-transform:rotate(0.236565268872789deg);
  -ms-transform:rotate(0.236565268872789deg);
  transform:rotate(0.236565268872789deg);
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:53px;
  height:31px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:543px;
  width:37px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(179.895236190799deg);
  -moz-transform:rotate(179.895236190799deg);
  -ms-transform:rotate(179.895236190799deg);
  transform:rotate(179.895236190799deg);
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:53px;
  height:31px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:320px;
  width:37px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.5588717176292deg);
  -moz-transform:rotate(90.5588717176292deg);
  -ms-transform:rotate(90.5588717176292deg);
  transform:rotate(90.5588717176292deg);
}
#u1486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:53px;
  height:31px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:404px;
  width:37px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.5588717176292deg);
  -moz-transform:rotate(90.5588717176292deg);
  -ms-transform:rotate(90.5588717176292deg);
  transform:rotate(90.5588717176292deg);
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:80px;
  height:31px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:492px;
  width:64px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.2591197888009deg);
  -moz-transform:rotate(89.2591197888009deg);
  -ms-transform:rotate(89.2591197888009deg);
  transform:rotate(89.2591197888009deg);
}
#u1488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1489_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:72px;
  height:31px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:543px;
  width:56px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.60448906276847deg);
  -moz-transform:rotate(-0.60448906276847deg);
  -ms-transform:rotate(-0.60448906276847deg);
  transform:rotate(-0.60448906276847deg);
}
#u1489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:170px;
  height:31px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:619px;
  width:154px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.9193982329452deg);
  -moz-transform:rotate(89.9193982329452deg);
  -ms-transform:rotate(89.9193982329452deg);
  transform:rotate(89.9193982329452deg);
}
#u1490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:743px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:743px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:327px;
  height:31px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:686px;
  width:311px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(179.983055485589deg);
  -moz-transform:rotate(179.983055485589deg);
  -ms-transform:rotate(179.983055485589deg);
  transform:rotate(179.983055485589deg);
}
#u1493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:74px;
  height:31px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:711px;
  width:58px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.4545522256186deg);
  -moz-transform:rotate(89.4545522256186deg);
  -ms-transform:rotate(89.4545522256186deg);
  transform:rotate(89.4545522256186deg);
}
#u1494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1495_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:99px;
  height:31px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:764px;
  width:83px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.147751020636185deg);
  -moz-transform:rotate(0.147751020636185deg);
  -ms-transform:rotate(0.147751020636185deg);
  transform:rotate(0.147751020636185deg);
}
#u1495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1018px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1232px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:949px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:888px;
  width:100px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u1499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1018px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:55px;
  height:31px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:806px;
  width:39px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.8622919720774deg);
  -moz-transform:rotate(89.8622919720774deg);
  -ms-transform:rotate(89.8622919720774deg);
  transform:rotate(89.8622919720774deg);
}
#u1501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:425px;
  height:31px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:856px;
  width:409px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.51628219255deg);
  -moz-transform:rotate(-179.51628219255deg);
  -ms-transform:rotate(-179.51628219255deg);
  transform:rotate(-179.51628219255deg);
}
#u1502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:58px;
  height:31px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:918px;
  width:42px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(179.635713344275deg);
  -moz-transform:rotate(179.635713344275deg);
  -ms-transform:rotate(179.635713344275deg);
  transform:rotate(179.635713344275deg);
}
#u1503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:103px;
  height:31px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:971px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.1439873767181deg);
  -moz-transform:rotate(90.1439873767181deg);
  -ms-transform:rotate(90.1439873767181deg);
  transform:rotate(90.1439873767181deg);
}
#u1504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:54px;
  height:31px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:919px;
  width:38px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(1.68534905975082deg);
  -moz-transform:rotate(1.68534905975082deg);
  -ms-transform:rotate(1.68534905975082deg);
  transform:rotate(1.68534905975082deg);
}
#u1505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:113px;
  height:31px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:969px;
  width:97px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.7748816304314deg);
  -moz-transform:rotate(89.7748816304314deg);
  -ms-transform:rotate(89.7748816304314deg);
  transform:rotate(89.7748816304314deg);
}
#u1506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:186px;
  height:31px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:1145px;
  width:170px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.2628847984175deg);
  -moz-transform:rotate(90.2628847984175deg);
  -ms-transform:rotate(90.2628847984175deg);
  transform:rotate(90.2628847984175deg);
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:965px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:962px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:828px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:55px;
  height:31px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:871px;
  width:39px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.8622919720774deg);
  -moz-transform:rotate(89.8622919720774deg);
  -ms-transform:rotate(89.8622919720774deg);
  transform:rotate(89.8622919720774deg);
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:838px;
  width:15px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:949px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1514_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:58px;
  height:31px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:970px;
  width:42px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.855834847786456deg);
  -moz-transform:rotate(0.855834847786456deg);
  -ms-transform:rotate(0.855834847786456deg);
  transform:rotate(0.855834847786456deg);
}
#u1514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1515_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:78px;
  height:31px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:914px;
  width:62px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(89.2105804899813deg);
  -moz-transform:rotate(89.2105804899813deg);
  -ms-transform:rotate(89.2105804899813deg);
  transform:rotate(89.2105804899813deg);
}
#u1515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:949px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1517_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:129px;
  height:31px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:968px;
  width:113px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.664760276272205deg);
  -moz-transform:rotate(0.664760276272205deg);
  -ms-transform:rotate(0.664760276272205deg);
  transform:rotate(0.664760276272205deg);
}
#u1517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:122px;
  height:31px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:983px;
  width:106px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(179.998154838179deg);
  -moz-transform:rotate(179.998154838179deg);
  -ms-transform:rotate(179.998154838179deg);
  transform:rotate(179.998154838179deg);
}
#u1518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1165px;
  width:114px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:186px;
  height:31px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1078px;
  width:170px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.2628847984175deg);
  -moz-transform:rotate(90.2628847984175deg);
  -ms-transform:rotate(90.2628847984175deg);
  transform:rotate(90.2628847984175deg);
}
#u1520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:195px;
  width:1px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
